#logo {
  width: 7%;
}

#search {
  width: 60%;
}

#new-ori {
  width: 10%;
}

.header {
  background-color: #7124ff;
  display: flex;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 1%;
  padding-bottom: 1%;
  justify-content: space-between;
}

.main-board {
  display: flex;
  padding: 5%;
}

.card {
  background-color: rgb(130, 130, 130);
  width: 30vb;
  height: 40vb;
  padding: 2%;
}

body {
  background-color: rgb(199, 199, 199);
}