<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>QuickFolds Editor</title>
    <link href="editor.css" rel="stylesheet">
    <link href="./errordisplay/usererror.css" rel="stylesheet">
    <script type="module" src="./globalSettings.ts"></script>
    <script type="module" src="./errordisplay/usererror.ts"></script>
  </head>
  <body class="bg">
    <script type="module" src="editor.ts"></script>
    <script type="module" src="editorInputCapture.ts"></script>
    <div class="display">
      <div id="ui-container">
        <button class="action-button" id="pick-point-button">Pick a Point</button>
        <button class="action-button" id="delete-point-button">Delete a Point</button>
        <button class="action-button" id="add-line-button">Add a Line</button>
        <button class="action-button" id="del-line-button">Delete a Line</button>
        <button class="action-button" id="fold-button">Make a Fold by Drawing a Fold Edge</button>
        <button class="action-button" id="fold-split-faces-button">Make a Fold by Picking Faces</button>
      </div>
      <div class="angle-popup" style="display: none;">
        <input type="number" id="fold-angle" placeholder="Enter fold angle" value="0">
        <button id="confirm-fold" type="button">Confirm</button>
      </div>
    </div>
  </body>
  <div class="logfeed-container" id="logfeed"></div>
</html>

