<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>QuickFolds Editor</title>
    <link href="editor.css" rel="stylesheet">
    <script type="module" src="./globalSettings.js"></script>
  </head>
  <body class="bg">
    <script type="module" src="editor.js"></script>
    <script type="module" src="editorInputCapture.js"></script>
    <div class="display">
      <div id="ui-container">
        <button class="action-button" id="pick-point-button">Pick a Point</button>
        <button class="action-button" id="delete-point-button">Delete a Point</button>
      </div>
    </div>
  </body>
</html>

