<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
    MyBatis XML Mapper for handling database operations related to users.

    - Defines SQL mappings for retrieving and inserting users.

    SQL Operations:

    Dependencies:
    - `User`: The Java entity representing a user.
-->
<mapper namespace="com.quickfolds.backend.user.mapper.UserMapper">


</mapper>