<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.quickfolds.backend.geometry.mapper.AnnotatePointMapper">


    <insert id="addByObj" parameterType="com.quickfolds.backend.geometry.model.database.AnnotatedPoint">
        INSERT INTO annotated_point (
        point_id,
        on_edge_id
        <if test="annotatedPoint.createdBy != null">, created_by</if>
        <if test="annotatedPoint.updatedBy != null">, updated_by</if>
        <if test="annotatedPoint.createdAt != null">, created_at</if>
        <if test="annotatedPoint.updatedAt != null">, updated_at</if>
        ) VALUES (
        #{annotatedPoint.pointId},
        #{annotatedPoint.onEdgeId}
        <if test="annotatedPoint.createdBy != null">, #{annotatedPoint.createdBy}</if>
        <if test="annotatedPoint.updatedBy != null">, #{annotatedPoint.updatedBy}</if>
        <if test="annotatedPoint.createdAt != null">, #{annotatedPoint.createdAt}</if>
        <if test="annotatedPoint.updatedAt != null">, #{annotatedPoint.updatedAt}</if>
        );
    </insert>


</mapper>