<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.quickfolds.backend.geometry.mapper.EdgeMapper">

    <select id="getIdByIdInFace" resultType="Long">
        (SELECT edge_id FROM fold_edge
        WHERE
            face_1_id = #{faceId} AND
            id_in_face_1 = #{idInFace}
        LIMIT 1)
        UNION ALL
        (SELECT edge_id FROM fold_edge
        WHERE
            face_2_id = #{faceId} AND
            id_in_face_2 = #{idInFace}
        LIMIT 1)
        UNION ALL
        (SELECT edge_id FROM side_edge
        WHERE
            face_id = #{faceId} AND
            id_in_face = #{idInFace}
        LIMIT 1)
        LIMIT 1;
    </select>
</mapper>