<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
    MyBatis XML Mapper for handling database operations related to edge types in an origami model.

    - Defines SQL mappings for retrieving edge type IDs based on their names.

    SQL Operations:
    - `getEdgeTypeByName`: Retrieves the database ID of an edge type by name.

    Dependencies:
    - The `edge_type` table, which stores predefined edge types.
-->
<mapper namespace="com.quickfolds.backend.geometry.mapper.EdgeTypeMapper">
    <!--
        Retrieves the database ID of an edge type based on its name.

        - Ensures that edges reference valid types stored in the `edge_type` table.
        - Uses `LIMIT 1` to guarantee a single result.
    -->
    <select id="getEdgeTypeByName">
        SELECT id
        FROM edge_type
        WHERE edge_type_name = #{edgeTypeName}
        LIMIT 1
    </select>

</mapper>