<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.quickfolds.backend.geometry.mapper.FaceMapper">

    <select id="getIdByFaceIdInOrigami">
        SELECT id FROM face
        WHERE
        origami_id = #{origamiId}
        AND
        id_in_origami = #{faceIdInOrigami}
    </select>


    <insert id="addByObj" parameterType="com.quickfolds.backend.geometry.model.database.Face">
        INSERT INTO face (
            origami_id,
            face_id_in_origami,
            step_id
            <if test="face.createdBy != null">, created_by</if>
            <if test="face.updatedBy != null">, updated_by</if>
            <if test="face.createdAt != null">, created_at</if>
            <if test="face.updatedAt != null">, updated_at</if>
        ) VALUES (
            #{face.origamiId},
            #{face.faceIdInOrigami},
            #{face.stepId}
            <if test="face.createdBy != null">, #{face.createdBy}</if>
            <if test="face.updatedBy != null">, #{face.updatedBy}</if>
            <if test="face.createdAt != null">, #{face.createdAt}</if>
            <if test="face.updatedAt != null">, #{face.updatedAt}</if>
        );
    </insert>


</mapper>