<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
    MyBatis XML Mapper for handling database operations related to fold steps in an origami model.

    - Defines SQL mappings for retrieving and inserting fold steps.

    SQL Operations:
    -
-->
<mapper namespace="com.quickfolds.backend.geometry.mapper.FoldStepMapper">
    <!--
        Inserts a new fold step into the database using a `FoldStep` object.

        - Dynamically includes optional metadata fields (`created_by`, `updated_by`, `created_at`, `updated_at`).
        - Uses `<if test="...">` to conditionally add fields only when they are non-null.
    -->
    <insert id="addByObj" parameterType="com.quickfolds.backend.geometry.model.database.FoldStep">
        INSERT INTO fold_step (
        step_id,
        anchored_face_id
        <if test="step.createdBy != null">, created_by</if>
        <if test="step.updatedBy != null">, updated_by</if>
        <if test="step.createdAt != null">, created_at</if>
        <if test="step.updatedAt != null">, updated_at</if>
        ) VALUES (
        #{foldStep.stepId},
        #{foldStep.anchoredFaceId}
        <if test="step.createdBy != null">, #{step.createdBy}</if>
        <if test="step.updatedBy != null">, #{step.updatedBy}</if>
        <if test="step.createdAt != null">, #{step.createdAt}</if>
        <if test="step.updatedAt != null">, #{step.updatedAt}</if>
        );
    </insert>

</mapper>