<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.quickfolds.backend.geometry.mapper.StepTypeMapper">

    <select id="getStepTypeByName">
        SELECT id
        FROM step_type
        WHERE step_type_name = #{stepTypeName}
        LIMIT 1
    </select>

</mapper>